.App-header {
    @include mq($desktop) {
    position: static;
    background-color: $textColor-midnight-blue;
    }
}

header {
    background-color: $textColor-midnight-blue;
    // min-height: 10vh;
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    justify-content: center;
    align-content: center;
    text-align: right;

    img, h4 {
        padding: 0 2rem;
        color: white;
    }

    @include mq($desktop) {
        grid-template-columns: 1fr;
        h4 {
            // display: none;
        }
        // min-height: 100vh;
        

    }


    img {
        width: 12rem;
        height: auto;
    }

    //  NAVIGATION
    .primary-nav {
        overflow: hidden;
        position: fixed;
        bottom: 0;
        width: 100%;
        background-color: $textColor-midnight-blue;
        color: white!important;
        z-index: 100;

        @include mq($desktop) {
            position: relative;
        }
        
        
        ul {
            padding: 0rem;
            margin: 0rem;
            display: grid;
            grid-template-columns: repeat(5, 1fr);
            // justify-content: center;
            // gap: 0.5rem;

            @include mq($desktop) {
                display: block;
                grid-template-columns: 1fr;
                justify-content: left;
                text-align: left;

            }
        }

        li {
            display: inline-block;
            // border-top: 3px $textColor-midnight-blue solid;
            position: relative;
            padding: 1.25rem 0rem 1rem;
            color: $mid-grey-nav;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            align-content: center;
            -webkit-transition: all 1s cubic-bezier(0.075, 0.82, 0.165, 1);
            transition: all 1s cubic-bezier(0.075, 0.82, 0.165, 1);

            @include mq($desktop) {
                justify-content: left;
                flex-direction: row;

            }
            

            .gold-nav-hover-span {
                width: 60%;
                background-color: $gold-CTA;
                color: $gold-CTA;
                font-size: 0.25rem;
                border-radius: 1rem;
                position: absolute;
                top: -2.5%;
                display: none;

                @include mq($desktop) {
                    right: -1.5%;
                    top: 15%;
                    bottom: 15%;
                    width: 0.5rem;
                    height: 66%;

                }
            }

            &:hover, &:active {
                background-color: rgba($gold-CTA, 40%);
                // border-top: 3px $gold-CTA solid;
                
                a, svg {
                    color: white;
                }

                .gold-nav-hover-span {
                    display: block;
                }
            }

            a {
                color: $mid-grey-nav;
                font-size: 0.75rem;
                font-weight: 700;
                padding: 0px;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                align-content: center;

                @include mq($tablet) {
                    font-size: 1.125rem;
                }

                @include mq($desktop) {
                    justify-content: left;
                    flex-direction: row;
                    padding-left: 2rem;
                    font-size: 1.5rem;
                    font-weight: 600;
                    color: $light-grey-buttons;
                }

            
                

                &:hover {
                    border: none;
                }
                &:active {
                    color: $gold-CTA;
                }
            }

            svg {
                padding-bottom: 0.5rem;
                font-size: 2.25rem;

                @include mq($desktop) {
                    margin-right: 1.25rem;
                    padding-bottom: 0rem;
                }
            }
        }
    }

    //  SOCIAL ICONS
    .social-icons-wrapper {
        display: none;

        @include mq($desktop) {
            display: flex;
            justify-content: left;
            align-items: center;
            align-content: center;
            gap: 1rem;
            padding-left: 2.5rem;
            margin-top: 6rem;

            svg {
                color: $mid-grey-nav;
                margin: 0.5rem auto;
                font-size: 2rem;

                &:hover {
                    color: $ocean-blue;
                }
            }
        }

    }
}

