//  Testimonial Block
.home-testimonial {
    margin: 4rem 1rem;

    @include mq($desktop) {
        max-width: 75%;
        margin: 0 auto;
    }

    @include mq($desktopWide) {
        max-width: 50%;
        margin: 0 auto;
    }
figure.quote {
    position: relative;
    margin: 0rem;

    blockquote {
        font-family: 'Barlow', 'Sarabun', sans-serif;
        margin: 1rem 0rem;
    }
    
    figcaption {
        font-family: 'Corben', 'Barlow', 'Roboto', sans-serif;
        margin: 1rem 0;

        cite {
            font-style: normal;
        }
    }

    .testimonial-quotations {
        // background-color: #f1c948;
        // border-radius: 1.5rem;
        font-family: 'Corben', 'Barlow', 'Roboto', sans-serif;
        font-size: 7rem;
        font-weight: 400;
        position: absolute;
        color:rgba($textColor-midnight-blue, 60%)
        
        // z-index: 902;
    }

    .quotations-left {
        left: -15%;
        top: -25%;
    
         @include mq($tablet) {
            left: -7.5%;
            top: -50%;
    }
    
    @include mq($desktop) {
        left: -7.5%;
        top: -50%;
    }
       
    }
    .quotations-right {
        right: -15%;
        bottom: -15%;
        transform: rotate(180deg);
    
        @include mq($tablet) {
            right: -5%;
            bottom: -15%;
    }

       
    }
    
    
}

}

