.home-hero-section {

    @include mq(1100px){
    display: grid;
    grid-template-columns: 60% 40%;
    gap: 1rem;
   

    .home-jayson-photo {
        grid-area: photo;

    }

    .home-content-wrapper {
        grid-area: content;
        // margin-right: 1.5rem;
    }

    grid-template-areas: 
    "content photo";

    }

    @include mq($tablet){
        .home-jayson-photo {
            width: 25rem;
            margin: 3rem auto;
            display: flex;
            justify-content: center;
        }
    }

    
}


.highlight-work-wrapper {

    article {
        margin-bottom: 2rem;
    }
    .home-project-content-wrapper {
        // border: 2px solid black;
        border-radius: 0.25rem 0.25rem 0 0;

        a {
            margin-top: 1rem;
        }

       
    }
    // article section {
    //     border: 2px solid black;
    // }

    .home-project-photo {
        margin: 0px;
        border-radius: 0 0 0.25rem 0.25rem;
    }

    // Desktop 1150px or greater changes
    
    @include mq(1150px){
        .home-project-content-wrapper {
            // border: 2px solid black;
            border-radius: 0.25rem 0 0 0.25rem;
        }

        .home-project-photo {
            border-radius: 0 0.25rem 0.25rem 0;
        }
            article {
            display: grid;
            grid-template-columns: 1fr 1fr;

            img {
                height: 100%;
                // width: auto;
                object-fit: cover;
            }
        }
    }
    
}