.home-hero-section {

    @include mq(1100px){
    display: grid;
    grid-template-columns: 60% 40%;
    gap: 1rem;
   

    .home-jayson-photo {
        grid-area: photo;

    }

    .home-content-wrapper {
        grid-area: content;
        // margin-right: 1.5rem;
    }

    grid-template-areas: 
    "content photo";

    }

    @include mq($tablet){
        .home-jayson-photo {
            width: 25rem;
            margin: 3rem auto;
            display: flex;
            justify-content: center;
        }
    }
}
