// Variables

// Colors
// $textColor:     #EBF6FA;
$textColor-midnight-blue:     #202031;
$gold-CTA:      #E9CA79;
$black:         #1A1A23;
$ocean-blue:    #7CA3B6; 
$light-grey-buttons:    #DADAE1;
$light-grey-background: #F9F9FB;
$mid-grey-nav:          #82828C;



// ACCENTS
$header-aqua: #27C3E7;
$light-blue-grey: #F1ECF8;
$button-magenta: #AA4FB5;
$success-retro-shine: #25EA88;
$action-sand-dune: #F1C948;
$error-manga-red: #FE0054;

// Breakpoints
// 600px
$tablet: 37.5rem;
// 800 px
$tabletWide: 50rem;
// 1000 px
$desktop: 62.5rem;
// 1400 px
$desktopWide: 87.5rem;