// Wrapper
.wrapper {
    margin: 0 auto;
    
    // border-radius: 10px;
    // background-color: $magenta-midnight-background;

    @include mq($desktopWide){
        // margin: em(8) auto;
        // border: 3px solid $textColor;
    }

    

}

body {
    main {
       padding: 1rem 1rem;
       background-color: $light-grey-background;

       @include mq($tablet){
        padding: 1rem 2rem;
       }

       section {
        margin: 2rem 0;

        @include mq($tablet){
            margin: 4rem 0;
        }
       }
   }
}